[flake8]
show-source = True
statistics = True
count = True
ignore =
    E722,  # bare except
exclude =
    .git,
    __pycache__,
    env,
    libcloud,
    paramiko,
    run_script,
    celerybeat-mongo,
    settings.py,
    tests/,
