[submodule "run_script"]
	path = run_script
	url = ../../mistio/run_script.git
[submodule "libcloud"]
	path = libcloud
	url = ../../mistio/libcloud.git
[submodule "paramiko"]
	path = paramiko
	url = ../../mistio/paramiko.git
[submodule "celerybeat-mongo"]
	path = celerybeat-mongo
	url = ../../mistio/celerybeat-mongo.git
