variables:
  GET_SOURCES_ATTEMPTS: 3

stages:
  - build
  - generate_api_spec
  - test

#################### BUILD STAGE ####################
build_mist_image:
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - docker build --rm -t gcr.io/mist-ops/mist:$CI_COMMIT_SHA --build-arg API_VERSION_SHA=$CI_COMMIT_SHA --build-arg API_VERSION_NAME=$CI_COMMIT_REF_NAME .
    - docker tag gcr.io/mist-ops/mist:$CI_COMMIT_SHA gcr.io/mist-ops/mist:$CI_COMMIT_REF_SLUG
    - docker tag gcr.io/mist-ops/mist:$CI_COMMIT_SHA mist/mist:$CI_COMMIT_SHA
    - docker tag gcr.io/mist-ops/mist:$CI_COMMIT_REF_SLUG mist/mist:$CI_COMMIT_REF_SLUG
    - docker push gcr.io/mist-ops/mist:$CI_COMMIT_SHA
    - docker push gcr.io/mist-ops/mist:$CI_COMMIT_REF_SLUG
    - docker push mist/mist:$CI_COMMIT_SHA
    - docker push mist/mist:$CI_COMMIT_REF_SLUG
  tags:
    - builder
  dependencies: []


#################### GENERATE_API_SPEC STAGE ####################
generate_api_spec:
  stage: generate_api_spec
  image: gcr.io/mist-ops/mist:$CI_COMMIT_SHA
  before_script:
    - cd /mist.api
  script:
    - python openapi/generate_api_spec.py
    - ls -l openapi


#################### TEST STAGE ####################
flake8:
  stage: test
  image: gcr.io/mist-ops/mist:$CI_COMMIT_SHA
  variables:
    GIT_STRATEGY: none
  before_script:
    - cd /mist.api
  script:
    - flake8 --ignore=E402,E722

uniq:
  stage: test
  image: gcr.io/mist-ops/mist:$CI_COMMIT_SHA
  variables:
    GIT_STRATEGY: none
  before_script:
    - cd /mist.api
  script:
    - ls migrations/ | uniq -c -d -w 4 | grep . && exit 1 || exit 0
