amqp
# ansible v2 has a incompatible api
# see https://serversforhackers.com/running-ansible-2-programmatically
ansible==1.9.3
celery<4.0.0
dnspython
elasticsearch
elasticsearch_tornado
gevent
greenlet
iso8601
jsonpickle
mongoengine
names
netaddr
parse
passlib
pika
pymongo
pyramid==1.4
python-memcached
python-openid
requests
sockjs-tornado
tornado
tornado_profile
uwsgidecorators
websocket
