# amqp v2 requires explicit call to connect, and use of drain_events
# see https://github.com/celery/py-amqp/issues/105
amqp==1.4.9
# ansible v2 has a incompatible api
# see https://serversforhackers.com/running-ansible-2-programmatically
ansible==1.9.3
# celerybeat-mongo doesn't work with celery4 yet
celery<4.0.0
dnspython
elasticsearch
elasticsearch_tornado
flake8
gevent
greenlet
ipython
iso8601
jsonpickle
mongoengine
mongomock
names
netaddr
parse
passlib
pika
pretty
pymongo
# only tested with pyramid 1.4, possible incompatibilities with later versions
pyramid==1.4
pytest
python-memcached
python-openid
requests
sockjs-tornado
tornado
tornado_profile
uwsgidecorators
websocket
